.Products {  
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  min-height: 100px;
}

.product {
  width: 10rem;
  height: 16rem;
  background: #EEEEEE;
  box-sizing: border-box;
  border-radius: 4px;
}

#container {
  background-color: #EEE;
  margin: 0 auto;
  text-align: left;
  width: 66.67%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#products-text {
  padding: 0 auto 2.5rem auto;
}

#categories-div {
  background-color: rgba(128, 128, 128, 0.5);
}

#categories-text {
  padding: 0 0 0 1rem;
}