#shopping-cart{
  width: 100%;
  background-color: #eee;
  color: #666;
  padding: 5px 15px;  
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item span {
  margin-right: 5px;
}

#cart-link{
  background-color: darkturquoise;
  color: white;
  min-width: 175px;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
  margin: 5px auto;
}