body {
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu,'Times New Roman', Times, serif;
  color:black;
  background: E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}